**/*.iml
**/*.png
*.log
*/target/
**/.flattened-pom.xml

.idea/

model/src/main/java/**/*.java

visualization/*.plantuml
jsonld-context/context.json
jsonld-context/context.jsonld
/.project
*.settings*
*.project
*.classpath
